<div ng-controller='appointmentsController'>
	<div id='newAppointment'>
		<h2>New Appointment</h2>
		<form>
			Date: <input type='date' ng-model='newAppointment.date'><br>
			Time: <input type='time' ng-model='newAppointment.time'><br>
			<p>Complain: <textarea rows='8' ng-model='newAppointment.complain' class='form-control'></textarea></p>
			<a href='#/appointment/new' ng-click='addAppointment()'>Add Appointment</a>
			<a href="#/">Cancel</a>
			<div ng-repeat='message in errorMessages'>
				<p ng-bind='message'></p>
			</div> 
		</form>
	</div>
</div>